* {
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  padding-top: 1rem;
  cursor: pointer;
  color: #3c506c;
}

a:visited {
  color: #3c506c;
}

a:hover,
a:active {
  color: #000;
}

h1 {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1px;
  margin: 0;
  padding-bottom: 25px;
}

header {
  text-align: center;
}

h2,
h3 {
  margin: 0;
}

.hidden {
  display: none;
}

.large-red-button {
  background-color: #ee7f63;
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  bottom: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.blue-button {
  height: 24px;
  background-color: #8290a6;
  color: #fff;
  border: none;
  margin: 0.5em;
  outline: none;
  cursor: pointer;
}

.add-icon,
.delete-icon,
.times-icon {
  color: #ee7f63;
  cursor: pointer;
}

.menu-icon {
  font-size: 24px;
  padding: 0.5rem;
  cursor: pointer;
}

.search-icon {
  padding: 0.5rem;
  cursor: pointer;
}

.underline {
  background-image: linear-gradient(#e0e8fd, #e0e8fd);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
}

.button-container,
.h2-container {
  text-align: left;
  margin: 0.75em 0;
}

.menu {
  position: absolute;
}

.menu-container {
  position: fixed;
  display: flex;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 2px #c4c4c4;
  letter-spacing: 2px;
}

.menu-content {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  height: 100%;
  padding-left: 2rem;
  border-radius: 0 5% 5% 0;
}

.search-bar-container {
  display: flex;
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 2px #c4c4c4;
  align-items: center;
  margin: auto;
  outline: none;
}

.search-box {
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: auto;
  outline: none;
}

::placeholder {
  color: #c4c4c4;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 450px;
  overflow: auto;
}

img {
  width: 100%;
  opacity: 0.8;
  border-radius: 20px;
}

.img-container {
  border-radius: 20px;
  max-width: 300px;
  max-height: 175px;
  overflow: hidden;
  margin: 2px;
  text-align: center;
}

.container1 {
  padding: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;

  /* border: purple solid; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2em;

  /* border: blue solid; */
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;

  /* border: tomato solid; */
}

.col-half {
  padding: 0;
  margin: auto;
  width: 325px;

  /* border: palegreen solid; */
  display: flex;
  align-items: center;
}

.col-one-fourth {
  display: flex;
  margin: auto;

  /* border: pink solid; */
  width: 25%;
}

.col-three-fourth {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
  margin-left: 0.2em;

  /* border: orange solid; */
}

.title-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: green solid; */
  width: 300px;
}

.circle {
  border: #e0e8fd solid;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #e0e8fd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  color: #3c506c;
  font-size: 14px;
}

.scrollbox {
  min-height: 140px;
  max-height: 140px;
  overflow: auto;
}

.modal-container {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
}

.right {
  display: flex;
  justify-content: flex-end;
}
